################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/search app/v15
/search app/bin/Debug
/search app/obj/Debug
